@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-radial-gradient {
    background-image: radial-gradient(ellipse at center, var(--tw-gradient-stops));
  }
  
  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animate-snowfall {
    will-change: transform;
    pointer-events: none;
    user-select: none;
  }
}
